<simple-center-loader *ngIf="loading"></simple-center-loader>

<!--Profile not found-->
<not-found *ngIf="!profile && !loading"></not-found>

<div *ngIf="profile && !loading" class="flex-grow-1">
  <!-- Top Card With Creator Info -->
  <creator-profile-top-card
    *ngIf="profile && !loading"
    [profile]="profile"
    (userUnblocked)="unblockUser()"
    (userBlocked)="blockUser()"
  ></creator-profile-top-card>

  <!-- Feed Selector -->
  <tab-selector
    [tabs]="['Посты', 'Creator coins', 'Diamonds']"
    [activeTab]="activeTab"
    (tabClick)="_handleTabClick($event)"
  ></tab-selector>

  <!-- Reserved -->
  <div *ngIf="showProfileAsReserved() && activeTab === 'Посты'" class="p-15px">
    <div class="background-color-grey p-35px br-12px d-flex flex-row align-items-center">
      <i class="far fa-clock fs-1 fc-muted"></i>
      <div class="ml-25px fc-default">
        <p class="roboto-mono fs-18px mb-5px font-weight-semibold">Этот профиль зарезервирован</p>
        <p class="roboto-mono fs-15px">@{{ profile.Username }} еще не присоединился к БитКлауту.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-30px">
      <div>
        <p class="font-weight-semibold roboto-mono mb-10px">
          Вы @{{ profile.Username }} на Твиттере? Чтобы забрать этот профиль:
        </p>
        <ol>
          <li class="font-weight-semibold">
            <p
              class="roboto-mono mb-10px font-weight-semibold cursor-pointer"
              [ngStyle]="{ 'text-decoration': isPubKeyBalanceless() ? 'line-through' : 'none' }"
              [ngClass]="!isPubKeyBalanceless() ? 'fc-blue' : ''"
              (click)="globalVars.launchSignupFlow()"
            >
             Создайте новый публичный ключ
            </p>
          </li>
          <li class="font-weight-semibold">
            <p class="roboto-mono mb-10px font-weight-semibold">
              <a *ngIf="isPubKeyBalanceless(); else pubKeyHasBalance" target="_blank" href="{{ tweetToClaimLink() }}">
                Сделайте Твит с этим публичным ключом и поставьте хэштэг #BitClout
              </a>
              <ng-template #pubKeyHasBalance>Сделайте Твит с этим публичным ключом и поставьте хэштэг #BitClout</ng-template>
              <span class="d-block fs-12px font-weight-normal">
                Внимание: Публичный ключ, который вы отправите в Твиттере, будет заменен на открытый ключ, который в настоящее время связан с этим
                профилем. Это также приведет к смене владельца всех авторских монет. Пожалуйста, убедитесь, что публичный ключ, который вы отправили в Твиттер.
                не содержит авторских монет, если вы не хотите, чтобы они были потеряны.
              </span>
            </p>
          </li>
          <li class="font-weight-semibold">
            <p class="roboto-mono mb-10px font-weight-semibold">Ваше имя пользователя будет переведено в течение 48 часов.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <!-- Posts -->
  <div *ngIf="profile && activeTab == 'Посты' && !loading">
    <creator-profile-posts
      [profile]="profile"
      [showProfileAsReserved]="showProfileAsReserved()"
      (blockUser)="userBlocked()"
    ></creator-profile-posts>
    <div *ngIf="globalVars.hasUserBlockedCreator(profile.PublicKeyBase58Check)" class="w-100 d-flex p-15px">
      <span>
        Вы заблокировали {{ profile.Username }}.
        <a (click)="unblock()">Разблокировать</a>
        Чтобы видеть посты.
      </span>
    </div>
  </div>

  <!-- Creator Coin Info -->
  <div class="w-100 d-flex flex-column" *ngIf="activeTab == 'Creator Coin' && !loading">
    <div class="w-100 d-flex justify-content-start px-15px fs-15px">
      <div class="container border-bottom border-color-grey font-weight-bold fs-20px pl-0px py-15px">
        Держатели монет ${{ profile.Username }} 
      </div>
    </div>

    <div>
      <div class="container fs-15px flex-grow-1">
        <div class="row no-gutters border-bottom border-color-grey fc-muted">
          <div class="col-6 d-flex py-15px mb-0">Имя пользователя или публичный ключ</div>
          <div class="col-3 py-15px mb-0">Держит монет</div>
          <div class="col-3 py-15px mb-0">
            Рыночная цена
            <i
              class="fas fa-info-circle text-greyC fs-15px global__tooltip-icon"
              matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
              [matTooltip]="'This is computed as the number of coins times the current price.'"
              #tooltip="matTooltip"
              (click)="tooltip.toggle()"
            ></i>
          </div>
        </div>
        <creator-profile-hodlers [profile]="profile"></creator-profile-hodlers>
      </div>
    </div>
    <div class="w-100 p-35px"></div>
  </div>

  <!-- Diamonds -->
  <div class="w-100 d-flex flex-column" *ngIf="activeTab == 'Diamonds' && !loading">
    <creator-diamonds [profile]="profile"></creator-diamonds>
    <div class="w-100 p-35px"></div>
  </div>
</div>
<!-- SPACER FOR BOTTOM BAR ON MOBILE -->
<div class="global__bottom-bar-mobile-height"></div>
