<div
  class="d-flex align-items-center justify-content-between w-100 px-15px fs-18px font-weight-bold fc-default border-bottom border-color-grey"
  style="min-height: 80px"
>
  <div class="d-flex align-items-center">
    <top-bar-mobile-navigation-control class="mr-15px d-lg-none d-inline-block"></top-bar-mobile-navigation-control>

    Страница не найдена
  </div>
</div>

<div class="text-center px-20px not-found__content-container">
  <h1>Страница не найдена</h1>

  <div class="fc-muted mt-20px">Это ошибка 404</div>

  <div class="mt-30px">Извините! Если эта проблема на нашей стороне, то мы уже в курсе и работаем над этим.</div>
</div>
