<!-- Top Bar -->
<div
  class="global__top-bar__height d-flex align-items-center fs-18px font-weight-bold pl-15px border-bottom border-color-grey"
>
  <top-bar-mobile-hamburger-menu class="mr-15px d-lg-none"></top-bar-mobile-hamburger-menu>

  <i class="far fa-check-circle text-primary"></i>
  &nbsp;Покупка завершена
</div>

<div class="fs-15px px-15px pt-25px pb-30px">
  <div class="font-weight-bold fs-24px mb-15px">
    Новый баланс:
    {{ globalVars.nanosToBitClout(globalVars.loggedInUser.BalanceNanos, 9) }} $CLOUT
  </div>

  <a
    class="link--unstyled text-primary font-weight-bold"
    [routerLink]="'/' + globalVars.RouteNames.CREATORS"
    queryParamsHandling="merge"
  >
    Купить авторских монет »
  </a>

  <div class="text-grey7 mt-15px">
    Используйте $CLOUT чтобы купить авторские монеты. Соберите своих любимых авторов и войдите в их команду!
  </div>
</div>

<div class="w-100 border-top border-color-grey text-grey5 mt-10px">
  <div class="fs-15px buy-bitclout__box-label-adjustment pl-5px pr-5px ml-10px" style="background-color: white">
    Дальше
  </div>
</div>

<div class="ml-15px">
  <div class="mt-10px">
    <a class="link--unstyled text-grey5" [routerLink]="'/' + globalVars.RouteNames.WALLET" queryParamsHandling="merge">
      Посмотреть кошелек »
    </a>
  </div>

  <div class="mt-15px">
    <a
      class="link--unstyled text-grey5"
      [routerLink]="'/' + globalVars.RouteNames.UPDATE_PROFILE"
      queryParamsHandling="merge"
    >
      Обновить профиль »
    </a>
  </div>

  <div class="mt-15px">
    <a
      class="link--unstyled text-grey5"
      [routerLink]="'/' + globalVars.RouteNames.BUY_BITCLOUT"
      (click)="triggerBuyMoreBitclout()"
      queryParamsHandling="merge"
    >
      Купить больше $CLOUT »
    </a>
  </div>
</div>
